body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
h2 {
  text-align: center;
  padding-bottom: 2%;
}

header {
  background-color: #81502f;
  color: #fff;
  padding: 1.2%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(1,auto);
  background-color: #ffe9c0;
  padding-top: 5%;
}

.item1{
  display: grid;
  grid-template-rows: repeat(2,auto);
  justify-content:center;
  padding-top: 5%;
  padding-left: 10%;
  margin-right: -20%;
}

#vestimentas{
  padding-top: 5%;
}
#contacto {
  padding: 3% 15% 2.5% 15%;
  background-color: #ffe9c0;
}
#contacto h2{
  padding-bottom: 0%;
}
.item2{
  width:100%;
  justify-content: center;
}
.image-container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(3,auto);
  grid-template-columns: repeat(1,auto);
  width: 100%;
}

.image-container img {
  padding: 2%;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form label, form input, form textarea {
  margin-bottom: 10px;
}

form input, form textarea {
  padding: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  background-color: #ac9789;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #81502f;
  color: #fff;
  text-align: center;
  padding: 1%;
}
#foot-icon{
  display: grid;
  grid-template-columns: repeat(5,auto);
  justify-content: center;
}

#foot-icon svg{
  padding:0% 10%;
}

@media(width<960px){
    .image-container{
        display:grid;
        grid-template-rows: repeat(1,2fr);
    }

    .image-container img{
        padding: 10px;
    }
}